<div class="wrapper">
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Allocation</h1>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <div class="row">
            <div class="col-12">
                <div class="card-Border">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">
                                <div class="form-group">
                                    <div class="btn-group w-100">
                                        <label style="width: 130%;">View By Employee :</label>
                                        <div style="width: 1em;"></div>
                                        <select (change)='Search()' [(ngModel)]=SelectUser class="form-control "
                                            style="width: 100%;">
                                            <option selected="selected" value="All">All</option>
                                            <option *ngFor='let obj of emplist' value={{obj.user}}>{{obj.user}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="card-tools">
                                <!-- <div class="input-group input-group-sm" style="width: 170px">
                                    <button data-toggle="modal" data-target="#modal-projectCreation" type="button"
                                        class="btn btn-primary btn-block"><i class="fas fa-plus"
                                            style="margin-right: 1em;"></i>Assine Project
                                    </button>
                                </div> -->
                            </div>
                        </div>
                        <div class="card-body p-0">
                            <table class="table table-hover text-nowrap" id="excel-table">
                                <thead>
                                    <tr>
                                        <th class="text-center">
                                            Employee Name
                                        </th>
                                        <th class="text-center">
                                            Projects
                                        </th>
                                        <th class="text-center">
                                            activities
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let assineproject of GlobleEmplist">
                                        <td class="text-center">
                                            {{assineproject.user}}
                                        </td>
                                        <td class="text-center">
                                            {{assineproject.projects}}
                                        </td>
                                        <td class="text-center">
                                            {{assineproject.activities}}
                                        </td>
                                        <td class="text-right py-0 align-middle">
                                            <div>
                                                <div class="btn-group btn-group-sm">
                                                    <a (click)='rout(assineproject.user)' class="btn btn-info"
                                                        style="color: white;">
                                                        <i class="fas fa-pencil-alt"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>