<div class="wrapper">
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Activities</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /below the containts -->

    <div class="row">
      <div class="col-12">
        <div class="card-Border">
          <div class="card">
            <div class="card-header">
              <div class="card-title">
                <div class="form-group">
                  <div class="btn-group w-100">
                    <label style="width: 110%;">View By Project :</label>
                    <div style="width: 1em;"></div>
                    <select (change)='Search()' [(ngModel)]=Selectpoj class="form-control " style="width: 100%;">
                      <option selected="selected" value="All">All</option>
                      <option *ngFor='let obj of projectList' value={{obj.projectCode}}>{{obj.projectname}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="card-tools">
                <div class="input-group input-group-sm" style="width: 170px">
                  <div *ngIf='isadmin'>
                    <button data-toggle="modal" data-target="#modal-createactivities" type="button"
                      class="btn btn-default" style="background-color: #007bff;color: cornsilk;">Create Activities
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <table class="table table-hover text-nowrap" id="excel-table">
              <thead>
                <tr>
                  <th>Activities Name</th>
                  <th>Activities Code</th>
                  <th>Project Code</th>
                  <th>Activities Description</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let act of Globletimeactivities">
                  <td>{{act.activitiesname}}</td>
                  <td>{{act.activitiesCode}}</td>
                  <td>{{act.projectCode}}</td>
                  <td>{{act.activitiesDescription}}</td>

                  <td class="text-right py-0 align-middle">
                    <div *ngIf='isadmin'>
                      <div class="btn-group btn-group-sm">
                        <a (click)=deleteactivity(act) class="btn btn-danger" style="color: white;"><i
                            class="fas fa-trash"></i></a>
                      </div>
                    </div>
                  </td>

                </tr>
              </tbody>
            </table>


          </div>
        </div>
      </div>
    </div>


  </div>

</div>



<div class="modal fade" id="modal-createactivities">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- <div class="modal-header"> -->
      <!-- <div class="modal-body"> -->
      <!-- general form elements -->
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Create a Activities</h3>
          <button id="cancel" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form name="form" #myNgForm="ngForm" (ngSubmit)="add();myNgForm.resetForm()">
          <div class="card-body">
            <div class="form-group">
              <label for="projectCode">Select Project Code</label>
              <select class="form-control" id="projectCode" name="projectCode" placeholder="Enter The projectCode"
                [(ngModel)]="form.projectCode" required>
                <option *ngFor="let project of projectList" value={{project.projectCode}}>
                  {{project.projectname}}
                </option>
              </select>
            </div>
            <div class="form-group">
              <label for="activitiesCode">Activities Code</label>
              <input type="text" class="form-control" id="activitiesCode" name="activitiesCode"
                placeholder="Enter The activitiesCode" [(ngModel)]="form.activitiesCode">
            </div>
            <div class="form-group">
              <label for="activitiesname">Activities Name</label>
              <input type="text" class="form-control" id="activitiesname" name="activitiesname"
                placeholder="Enter The activitiesname" [(ngModel)]="form.activitiesname" required
                #activitiesname="ngModel">
            </div>
            <div class="form-group">
              <label for="activitiesDescription">Activities Description</label>
              <input type="text" class="form-control" id="activitiesDescription" name="activitiesDescription"
                placeholder="Enter The activitiesDescription" [(ngModel)]="form.activitiesDescription" required
                #activitiesDescription="ngModel">
            </div>
          </div>
          <!-- /.card-body -->

          <div class="card-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
      <!-- /.card -->

      <!-- </div> -->
      <!-- </div> -->
    </div>
  </div>
</div>